{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block content %}
<p>Профиль: {{ username }}</p>
<hr/>
<h2>Мои желания</h2>
{% for item in items %}
<div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    {% if request.user.username != username %}
      <a href="/pick/{{ item.id}}/" class="btn btn-primary" type="submit">Выбрать</a>
    {% else %}
      <a href="/delete_vish/{{ item.id }}/" class="btn btn-danger" type="submit">Удалить</a>
    {% endif %}
  </div>
</div>
{% empty %}
  <p>Нет предметов</p>

  <a href="/create_wish/" class="btn btn-primary mb-4" type="submit">Создать</a>
{% endfor %}
<hr/>
<h2>Я дарю</h2>
{% for item in request.user.picked_items.all %}
<div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">кому: {{item.author.username}}</p>
  </div>
</div>
{% empty %}
  <p>Нет предметов</p>
{% endfor %}
{% if request.user.username == username %}
  <form action="/logout/" method="post">
    {% csrf_token %}
    <input type="submit" value="Выйти" class="btn btn-primary">
  </form>
{% endif %}

{% endblock %}